@import "tailwindcss";

@font-face {
  font-family: "Alliance";
  src: url("/fonts/alliance-no-2-regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  font-family: "Alliance", serif;
  background: #ffffff;
  color: #000000;
}
